
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100%
}

.navi {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background-color: black;
    height: 10vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* text-align: center; */
    align-items: center;
}

.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 63px;
}

/* .logo_image {
    /* margin-right: 20px; 
}
 
*/
.images {
    height: 40px;
    /* width: 140px; */
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

body {
    background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 165px;
    color: rgb(255, 255, 255);
    gap: 15px;
    min-width: 50%;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
}

.button-small {
    cursor: pointer;
    padding: 8px 18px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.button-large {
    padding: 14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}